<!-- https://logging.apache.org/log4j/2.x/manual/appenders.html -->
<Configuration status="warn" name="vanesa" packages="">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{ISO8601} %-5p [%t] %c: %m%n"/>
        </Console>
        <RollingFile name="network_editor_logfile" fileName="logfiles/network_editor.log"
                     filePattern="logfiles/network_editor-%d{MM-dd-yyyy}.log.gz" ignoreExceptions="false">
            <PatternLayout pattern="%d{ISO8601} %-5p [%t] %c: %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="12 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="commons_logfile" fileName="logfiles/apache_commons.log"
                     filePattern="logfiles/apache_commons-%d{MM-dd-yyyy}.log.gz" ignoreExceptions="false">
            <PatternLayout pattern="%d{ISO8601} %-5p [%t] %c: %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="12 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="http_logfile" fileName="logfiles/http_client.log"
                     filePattern="logfiles/http_client-%d{MM-dd-yyyy}.log.gz" ignoreExceptions="false">
            <PatternLayout pattern="%d{ISO8601} %-5p [%t] %c: %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="12 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name="org.apache.commons" level="warn">
            <!-- <AppenderRef ref="console"/> -->
            <AppenderRef ref="commons_logfile"/>
        </logger>
        <logger name="org.apache.http.wire" level="warn">
            <!-- <AppenderRef ref="console"/> -->
            <AppenderRef ref="http_logfile"/>
        </logger>
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="network_editor_logfile"/>
        </Root>
    </Loggers>
</Configuration>